\documentclass[parskip,12pt,paper=a4,sffamily]{scrreprt}
\usepackage[ngerman]{babel}
\usepackage[utf8]{inputenc}
\usepackage{color}

\usepackage[scaled]{helvet}
\usepackage[T1]{fontenc}

% url support
\usepackage{url}

% make links clickable
\usepackage{hyperref}

% code listings
\usepackage{listings}

% include images
\usepackage{graphicx}

% better tables using tabularx
\usepackage{tabularx}

% support github markdown strikethrough
% http://tex.stackexchange.com/questions/23711/strikethrough-text
\usepackage{ulem}

\renewcommand\familydefault{\sfdefault}


\definecolor{brand}{rgb}{0.8,0,0}

\title{ {{ title }} }
\subtitle{
\textcolor{brand}{ \textbf{ {{ subtitle }} } }
}
\date{ \today }
\author{Thomas Joussen}
{#\author{
    {{ address.company }} \\
    {{ address.street }} \\
    {{ address.zip }} {{ address.city }} \\
    {{ address.phone }} \\
    {{ address.fax }} \\
    {{ address.email }} \\
    {{ address.homepage }} \\
}#}


\begin{document}
    \pagenumbering{gobble}
    \maketitle
    \newpage
    \pagenumbering{roman}
    \tableofcontents
    \newpage
    \pagenumbering{arabic}


    {% for chapter, sections in chapters %}
    {% if not loop.first %}
    \newpage
    {% endif %}
    \chapter{ {{ chapter }} }
{% include 'document/'~chapter~'.tex.twig' with {'chapter': specification.bychapter(chapter) } %}
{% endfor %}
\end{document}