\section{functionality}
{{ chapter.functionality }}
\section{efficiency}
{{ chapter.efficiency }}
\section{systemRequirements}
{{ chapter.systemRequirements }}
\section{reliability}
{{ chapter.reliability }}
\section{scalability}
{{ chapter.scalability }}
\section{security}
{{ chapter.security }}
\section{hardware}
{{ chapter.hardware }}
\section{lifeCycle}
{{ chapter.lifeCycle }}