{% extends 'ui/layout.html.twig' %}

{% block body %}
    <h1>Welcome</h1>

    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
                {% for chapter, sections in chapters %}
                    <li class="list-group-item"><a
                                href="index.php?action=document&document={{ document }}&chapter={{ chapter }}">{{ loop.index }}
                            . {{ chapter|trans() }}</a></li>
                    {% set outerIndex = loop.index %}
                    {% if sections|length() > 0 %}
                        <ul class="list-group">
                            {% for section in sections %}
                                <li class="list-group-item"><a
                                            href="index.php?action=document&document={{ document }}&chapter={{ chapter }}">{{ outerIndex }}
                                        .{{ loop.index }}. {{ section }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-9">
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Speichern</button>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}