{% extends 'ui/layout.html.twig' %}

{% block body %}
    <h1>Welcome</h1>

    <div class="row">
        <div class="col-sm-12">
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <button type="submit">Erstellen</button>
            {{ form_end(form) }}
        </div>
        <div class="col-sm-9">
            <div class="row">
                {% for specification in specifications %}
                    <div class="col-sm-3">
                        <div class="card">
                            <img class="card-img-top" src="http://via.placeholder.com/318x180" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">{{ specification }}</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    of the card's content.</p>
                                <a href="index.php?action=document&document={{ specification }}"
                                   class="btn btn-primary">Open</a>
                                <a href="index.php?action=generatePDF&document={{ specification }}"
                                   class="btn btn-success">Generate</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}