<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Specifications</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="node_modules/codemirror/lib/codemirror.css"/>
    <link rel="stylesheet" href="node_modules/chosen-js/chosen.css"/>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <script src="node_modules/codemirror/lib/codemirror.js"></script>
    <script src="node_modules/codemirror/addon/mode/overlay.js"></script>
    <script src="node_modules/codemirror/mode/markdown/markdown.js"></script>
    <script src="node_modules/codemirror/mode/gfm/gfm.js"></script>
    <script src="node_modules/inline-attachment/src/inline-attachment.js"></script>
    <script src="node_modules/inline-attachment/src/codemirror-3.inline-attachment.js"></script>
    <script src="node_modules/markdown-it/dist/markdown-it.js"></script>
    <script src="node_modules/chosen-js/chosen.jquery.js"></script>

    <style>
        .list-group .list-group .list-group-item {
            padding-left: 2.25rem;
        }

        .btn-default {
            color: #868e96;
            background-color: transparent;
            background-image: none;
            border-color: #868e96;
        }

        .CodeMirror {
            height: auto !important;
        }

        .editor-col {
            border-right: 1px solid #ccc;
        }

        .markdown-wrapper.is-fullscreen {
            position: fixed;
            z-index: 9999;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #fff;
            padding: 10px;
        }

        body.is-fullscreen {
            height: 100vh;
            overflow: hidden;
        }

        .markdown-wrapper.is-fullscreen .CodeMirror,
        .markdown-wrapper.is-fullscreen .output {
            height: calc(100vh - 50px) !important;
            overflow-y: scroll;
        }

    </style>
</head>
<body>

<div class="container-fluid">
    {% block body %}{% endblock %}
</div>
</body>
</html>