{% extends 'bootstrap_3_layout.html.twig' %}

{% block choice_widget %}
    {{ parent() }}
    {% if chosen %}
        <script type="text/javascript">
			$('#{{ form.vars.id }}').chosen();
        </script>
    {% endif %}
{% endblock %}

{% block textarea_widget %}
    {% spaceless %}
        <div class="row">
            <div class="col-sm-6 editor-col">{{ parent() }}</div>
            <div class="col-sm-6">
                <div id="{{ form.vars.id }}-output" class="output"></div>
            </div>
        </div>
    {% endspaceless %}
    {{ block('markdown_javascript') }}
{% endblock %}

{% block markdown_javascript %}
    <script type="text/javascript">
		(function () {
			var textarea = document.getElementById('{{ form.vars.id }}');
			var editor = CodeMirror.fromTextArea(textarea, {
				mode: {
					name: "gfm"
				},
				lineNumbers: false,
				matchBrackets: true,
				lineWrapping: true,
				theme: "base16-light"
			});
			editor.on('change', update);

			inlineAttachment.editors.codemirror3.attach(editor, {
				uploadUrl: 'index.php?action=upload'
			});

			var md = markdownit({
				html: true,
			});
			setOuput(editor.getValue());

			function update(e) {
				setOuput(e.getValue());
			}

			function setOuput(output) {
				var out = document.getElementById('{{ form.vars.id }}-output');
				out.innerHTML = md.render(output);
			}
		})();
    </script>
{% endblock %}