{% extends 'ui/layout.html.twig' %}

{% block body %}
    <h1>TESTPAGE</h1>






    {{ form(form) }}

    <div class="row">
        {% for i in range(0,10) %}
            <div class="col-sm-1 text-center">
                <div class="wrapper">
                    <figure class="figure">
                        <img src="http://via.placeholder.com/250x250" class="figure-img img-fluid rounded"/>
                        <figcaption class="figure-caption">U001D001</figcaption>
                    </figure>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}